body {
  background-image: url('./cusco.jpeg'); /* Replace with your image path */
  background-size: fill; /* This will make the background image cover the entire container */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center top; /* This will center the image in the container */
  background-attachment: scroll;
  width: auto;
  height: auto;
}

button {
    font-family: "Lavishly Yours", cursive;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #007BFF; /* Blue */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
