body {
  background-image: url('./Walking.jpeg'); /* Replace with your image path */
  background-opacity: 75%;
  background-size: fill; /* This will make the background image cover the entire container */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center top; /* This will center the image in the container */
  background-attachment: scroll;
  width: 100%;
  height: auto;

}

.image {
  width: 400px
  height: auto}

h1 {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  colour: #fff;
}


space {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0;
}


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    color: #fff;
}

navigation-bar>.ui.container {
    justify-content: normal;
    align-items: center;
    transition: width .35s ease, padding .35s ease;
}


