body {
  background-image: url('./Walking.jpeg'); /* Replace with your image path */
  background-opacity: 75%;
  background-size: fill; /* This will make the background image cover the entire container */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center top; /* This will center the image in the container */
  background-attachment: absolute;
  width: 100%;
  height: auto;
}

.image {
  width: 400px;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 2000px 1000px;
  column-gap: 20px;
  row-gap: 40px;

  justify-content: space-between;
}
  

h1 {
  font-family: "Lavishly Yours", cursive;
  text-align: center;
  font-weight: 1000;
  font-size: 200px;
  font-style: normal;
  colour: white;
}

h2 {
  font-family: "Lavishly Yours", cursive;
  text-align: center;
  font-weight: 200;
  font-size: 100px;
  font-style: normal;
  colour: white;
}

space {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0;
}


h3 {
  font-family: "Lavishly Yours", cursive;
  text-align: center;
  font-weight: 200;
  font-size: 75px;
  font-style: normal;
  colour: #fff;
}

navigation-bar>.ui.container {
    justify-content: normal;
    align-items: center;
    transition: width .35s ease, padding .35s ease;
}


