body {  background-image: url('./Walking.jpeg');
  background-size: contain;
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center top; /* This will center the image in the container */
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.form-center {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;

}

button[type="submit"] {
  background-color: #a9ccf0;  /* Blue background */
  color: white;   

}
